Repository FasterXML/jackson-dataformats-binary, pull requests merged in 2025-05, with the labels that each got.

#586 Fix #584
  .github/workflows/main.yml
  protobuf/src/main/java/com/fasterxml/jackson/dataformat/protobuf/ProtobufParser.java
  protobuf/src/test/java/com/fasterxml/jackson/dataformat/protobuf/ReadNestedUnknownFieldsTest.java
  release-notes/VERSION-2.x
Labels: protobuf, 2.18

#590 Allow exposing CBOR simple values as VALUE_EMBEDDED_OBJECT
  cbor/src/main/java/com/fasterxml/jackson/dataformat/cbor/CBORParser.java
  cbor/src/test/java/com/fasterxml/jackson/dataformat/cbor/parse/SimpleValuesTest.java
  release-notes/CREDITS-2.x
  release-notes/VERSION-2.x
Labels: cbor, 2.20

#593 [AVRO] #589: Fix schema not including base class for records with subclasses
  avro/src/main/java/com/fasterxml/jackson/dataformat/avro/schema/RecordVisitor.java
  avro/src/test/java/com/fasterxml/jackson/dataformat/avro/schema/PolymorphicTypeAnnotationsTest.java
  release-notes/CREDITS-2.x
  release-notes/VERSION-2.x
Labels: avro, 2.19
